{% extends "layout.html" %}

{% block title %}Account Recovery{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <h4>Account Recovery</h4>
            {% if reset_error %}
            An error occurred while you were attempting to reset your password. Please re-enter your email address.
            {% endif %}
            <p>Enter your email address below to recover your account</p>
            {{form(form)}}
        </div>
    </div>
</div>
{% endblock %}