<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Web App</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
        {% if user %}
        <li><a href="/account">{{user.email}}{{user.firstname}}</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Sign In</a></li>
        {% endif %}
    </ul>
</div><!--/.nav-collapse -->